
body {
    max-width: 1800px;
    margin: auto;
    height: 100%;
}

.container-a {
    position: relative;
    background-color: #eafa91;
    height: 58vw;
}

.star1 {
    position: absolute;
    height: 14vw;
    width: auto;
    margin-top: auto;
    margin-left: 20%;
    margin-top: 8%;
}

.image1 {
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
    border-radius: 30% 90%;
    max-width: 100%;
    width: 40%;
    height: auto;
    width: auto\9; /* ie8 */
}

.title {
    font-family: forma-djr-text, sans-serif;
    display: inline-flex;
    padding-left: 4em;
    margin-top: 15em;
    margin-left: 50em;
    margin-bottom: 9em;
    color: #4c2dc7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2vw;
}

.container-b {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 58vw;
}

.container-d {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 70vw;
    z-index: 1;
}

#text-a {
    max-width: 60vw;
    margin-top: 6em;
    margin-left: 2em;
    font-size: 2vw;
    line-height: 2em;
    color: #000000;
    font-weight: bold;
    font-family: forma-djr-text, sans-serif;
}

#text-a2 {
    max-width: 60vw;
    margin-top: 6em;
    margin-left: 2em;
    font-size: 2vw;
    line-height: 2em;
    color: #ffffff;
    font-weight: bold;
    font-family: forma-djr-text, sans-serif;
}

#text-b {
    float: right;
    padding-right: 2em;
    max-width: 40vw;
    padding-top: 3em;
    padding-right: 5em;
    font-size: 1.7vw;
    line-height: 1.6em;
    color: #000000;
    font-family: forma-djr-text, sans-serif;
}

.container-c {
    position: relative;
    background-color: #4c2dc7;
    height: 58vw;
}

#text-c {
    max-width: 60vw;
    padding-left: 6em;
    padding-top: 4em;
    font-size: 2vw;
    line-height: 2em;
    color: rgb(191, 227, 211);
    font-weight: bold;
    font-family: forma-djr-text, sans-serif;
}

mark {
    background-color: #fa5cd2ab;
    padding: .2em 0.2em;
}

#mark-b {
    background-color: #002aff5a;
    padding: .2em 0.2em;
}

#footer-icons li {
    display: inline;
    padding: 1vw;
}

ul {
    text-align: center;
    height: 4vw;
}

.instagram {
    width: 2.8vw;
    margin-bottom: .1vh;
}

.calendar {
    width: 3.1vw;
}

.booking {
    position: relative;
    height: 100vw;
    background-color: #ffffff;
}

iframe {
    margin-left: 25vw;
    margin-top: 8vw;
    max-width: 50%;
    min-height: 600px;
    height: 200px !important;
    vertical-align: top;
    min-height: 600px !important;
}

#container {
    position: relative;
}

.abby1 {
    position: absolute;
    margin-top: 15%;
    margin-left: 35%;
    border-radius: 90% 60%;
    max-width: 100%;
    width: 40%;
    height: auto;
    width: auto\9; /* ie8 */
}

.title2 {
    position: absolute;
    font-family: forma-djr-text, sans-serif;
   /* font-style: italic; not sure yet */
    font-size: 18vw;
    margin-left: 2vw;
    margin-top: 19vw;
    color: #fa5cd2;
    letter-spacing: -1.1vw;
}

.star2 {
    position: absolute;
    height: 14vw;
    width: auto;
    margin-top: auto;
    margin-left: 69%;
    margin-top: 28%;
    transform: rotate(90deg);
}

.subtitle {
    position: absolute;
    font-family: forma-djr-text, sans-serif;
   /* font-style: italic; not sure yet */
    font-size: 3vw;
    margin-left: 3.2vw;
    margin-top: 36vw;
    color: #fa5cd2;
    letter-spacing: 0vw;
}

#oval {
    width: 30vw;
    height: 5vw;
    background: rgba(255, 255, 255, 0);
    border-radius: 100vw / 80vw;
    border: .2vw solid #fa5cd2;
    margin-left: 10vw;
    margin-top: 16vw;

  }

